[core]
  excludesfile = ~/.gitignore
[fetch]
  prune = true
[pull]
	rebase = true
[push]
	default = current
[user]
  name = Diego Pontoriero
  email = dpontor@gmail.com
[url "git@github.com:"]
  insteadOf = https://github.com/
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
